@import '../../node_modules/normalize.css/normalize.css';
@import '../mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 20px;
}


.activity, .tab {
	position: relative;
	overflow: hidden;
	display: block;
	width: 469px;
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	font-family: Arial, sans-serif;
}